{% extends 'base.html' %}


{% block content %}
<!-- Main News Start-->
        <div class="main-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><i class="fas fa-align-justify"></i>Ultimas noticias</h2>
                                <div class="row">
                                    {% for new in news|slice:":3" %}
                                    <div class="col-lg-6">
                                        <div class="mn-content">
                                            <a class="mn-title" href="{% url 'detail_news' new.id %}">{{new.title}}</a>
                                            <a class="mn-date" href=""><i class="far fa-clock"></i>{{new.publish_date}}</a>
                                            <p>
                                                {{new.body}}
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Eventos-->
                            <div class="col-md-12">
                                <h2><i class="fas fa-align-justify"></i>Eventos mas recientes</h2>
                                <div class="row">
                                    {% for event in events|slice:":3" %}
                                    <div class="col-lg-6">
                                        <div class="mn-content">
                                            <a class="mn-title" href="">{{event.title}}</a>
                                            <a class="mn-date" href=""><i class="far fa-clock"></i>{{event.publish_date}}/a>
                                            <p>
                                                {{event.body}}
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
        <!-- Main News End-->
        {% endblock%}