{% extends "newspaper/layout.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'newspaper/style.css' %}">
{% block title %}
    <div class="title">Lastest Events and News</div>
{% endblock %}
{% endblock %}

{% block content %}
{% if latest_news_list %}
    <div class="news_container">
    	<a href="/v1/news/create"><h2 id="news">News</h2></a>
    {% for new in latest_news_list %}
    	<div class="news_wrapper">
            <div class = "news_title"><h3>{{ new.title }}</h3></div>
            <div class = "news_subtitle"><h4>{{ new.subtitle }}</h4></div>
            <div class = "news_body"><p>{{ new.body }}</p></div>
    	</div>
    {% endfor %}
    </div>
{% else %}
    <p>No news available.</p>
{% endif %}
{% if latest_events_list %}
    <div class="events_container">
        <a href="/"><h2 id="events">Events</h2></a>
    {% for event in latest_events_list %}
    	<div class="event_wrapper">
            <div class = "event_title"><h3>{{ event.title }}</h3></div>
            <div class = "event_subtitle"><h4>{{ event.subtitle }}</h4></div>
            <div class = "event_body"><p>{{ event.body }}</p></div>
    	</div>
    {% endfor %}
    </div>
{% else %}
    <p>No events available.</p>
{% endif %}
{% endblock %}