{% extends "generic.html" %}
{% block content %}

<section class="events">
<a class="events__title" href="{% url 'events:index_view' %}">Events</a>
{% for event in context.events %}
<a class="article" href="{% url 'events:detail_view' event.id %}">
        <div class="article__info">
            <div class="article__info-title">{{ event.title }}</div>
            <div class="article__info-subtitle">{{event.subtitle }}</div>
        </div>
    </a>
{% endfor %}
</section>

<section class="news">
<a class="news__title" href="{% url 'news:index' %}">News</a>
{% for new in context.news %}
<a class="article" href="{% url 'news:detail' new.id %}">
        <div class="article__info">
            <div class="article__info-title">{{ new.title }}</div>
            <div class="article__info-subtitle">{{new.subtitle }}</div>
        </div>
    </a>
{% endfor %}
</section>


{% endblock %}