{% extends "generic.html" %}
{% block content %}

<section class="events">
<div class="events__title">Events <a href="{% url 'events:create_view'%}">Create</a></div>
{% for event in events %}
    <a class="article" href="{% url 'events:detail_view' event.id %}">
        <div class="article__info">
            <div class="article__info-title">{{ event.title }}</div>
            <div class="article__info-subtitle">{{event.start_date }}</div>
        </div>
        <div class="article_actions">
            <a href="{% url 'events:update_view' event.id %}">Edit</a>
            <a href="{% url 'events:delete_view' event.id %}">Remove</a>
        </div>
    </a>
{% endfor %}
</section>

{% endblock %}