:root{
    --cultured: hsla(300, 5%, 96%, 1);
    --roman-silver: hsla(218, 8%, 52%, 1);
    --rich-black: hsla(210, 11%, 4%, 1);
    --safety-yellow: rgb(163, 141, 0);
    --french-pink: hsla(342, 100%, 69%, 1);
}

.wrapper{
    background-color: var(--cultured);
    color: var(--rich-black);
    display: grid;
    grid-template-columns:repeat(12, [col-start] 1fr);
}

.wrapper > * {
    grid-column: col-start / span 12;
}

.main__header, .main__footer{
    background-color: var(--rich-black);
    min-height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    width: 100%;
}

.main__content{
    background-color: white;
    min-height: max-content;
    min-height: 80vh;
}

.news{
    display: flex;
    flex-direction: column;
}

.news__title{
    color: var(--safety-yellow);
}

.news__articles{
    border: 1px solid hsl(0, 0%, 76%);
}

.events__title{
    color: var(--french-pink);
}

@media (min-width:500px){
    .main__content{ 
        grid-column:col-start 3 / span 8
    }
}

@media (min_width:700px){
    .main__content{
        grid-column: col-start 3 / span 8;
    }

    .main__footer{
        grid-column: col-start / span 12;
    }
}

